{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1> Search Results </h1>
    {% if search_term != None %}
        <p>You searched for : {{search_term}} </p>
        <p>Your search found {{matching_items|length}} matching items </p>

        <p> Use the links below to read more:
          <ul>
              {% for item in matching_items %}
                  <!-- Entry name is passed as url parameter -->
                  <li><a href="{% url 'encyclopedia:u_entry' item %}">{{ item }}</a></li>
              {% endfor %}
          </ul>
    {% else %}
        <p>{{message}}</p>
    {% endif %}

{% endblock %}
