{% extends "auctions/layout.html" %}

{% block title %}
    Manage Auction Listing
{% endblock %}


{% block body %}

  {% if user.is_authenticated %}
      <h1>Manage auction listing </h1>
      {% if listing.active == True %}
        <form action="{% url 'auctions:u_close_listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close this listing">
        </form>
      {%else%}
        <p>This listing is closed. Go back to active listings and happy bidding.</p>
      {%endif%}


      {% if listing.active == True %}
        <fieldset>
      {% else %}
        <fieldset disabled>
      {% endif %}
        <form action="{% url 'auctions:u_manage_listing' listing.id %}" method="post">
            {% csrf_token %}
            <table>
            {{create_form.as_table}}
            </table>
            <input type="submit" value="Submit">
        </form>
    </fieldset>

  {% else %}
      You must be signed in to create listings.
  {% endif %}

{% endblock %}
