{% extends "auctions/layout.html" %}

{% block title %}
    Create New Auction Listing
{% endblock %}


{% block body %}

  {% if user.is_authenticated %}
      {% if action == "create" %}
          <h1>Create auction listing </h1>
      {% elif action == "manage" %}
          <h1>Manage auction listing </h1>
          <form action="{% url 'auctions:u_close_listing' '1' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="listing_id" value="{{listing_id}}">
              <input type="submit" value="Close this listing">
          </form>

      {%endif%}

      <fieldset {{is_editable}}>
        <form action="{% url 'auctions:u_save_listing' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{listing_id}}">
            {{create_form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </fieldset>

  {% else %}
      You must be signed in to create listings.
  {% endif %}

{% endblock %}
